
@page "/admin/trial"
@page "/admin/subscription"
@page "/admin/documentation"
@page "/admin/wabulk"
@page "/admin/api-token"
@page "/admin/webhook-settings"
@page "/admin/support"

@using WaHub.Shared.Models
@inject ILocalizationService Localization

<div class="en-construccion-container">
    <div class="en-construccion-content">
        <img src="/img/under-construction.png" 
             alt="@Localization.GetString(ResourceKeys.UnderConstructionTitle)" 
             class="en-construccion-img" />
        <h1>@Localization.GetString(ResourceKeys.UnderConstructionTitle)</h1>
        <p>@Localization.GetString(ResourceKeys.UnderConstructionMessage1)<br />
        @Localization.GetString(ResourceKeys.UnderConstructionMessage2)</p>
        <a href="/admin/dashboard" class="btn btn-primary">@Localization.GetString(ResourceKeys.BackToDashboardButton)</a>
    </div>
</div>



