@page "/404"
@using System.Diagnostics
@using WaHub.Shared.Models
@inject ILocalizationService Localization
@* @inject NavigationService Navigation *@
<PageTitle>@Localization.GetString(ResourceKeys.Error404Title)</PageTitle>


<AuthorizeView>
    <Authorized>
        <div class="internal-layout">
            <MobileNavToggle />
            <div class="sidebar-overlay"></div>
            <div class="sidebar-container">
                <WaHubSidebar />
            </div>
            <div class="main-content">
                <div class="language-switcher-container">
                    <div class="language-switcher">
                    </div>
                </div>            
                <div class="content">
                    <div class="dashboard-container">
                        <div class="dashboard-header">
                            <div class="error-number">404</div>
                            <h1>@Localization.GetString(ResourceKeys.PageNotFound)</h1>
                            <p>@Localization.GetString(ResourceKeys.PageNotFoundMessage)</p>
                            <a href="/admin/dashboard">@Localization.GetString(ResourceKeys.BackToDashboard)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="dashboard-container">
            <div class="dashboard-header">
                <div class="error-number">404</div>
                <h1>@Localization.GetString(ResourceKeys.PageNotFound)</h1>
                <p>@Localization.GetString(ResourceKeys.PageNotFoundMessage)</p>
                <a href="/">@Localization.GetString(ResourceKeys.BackToHome)</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    [Parameter]
    public string Id { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
