@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="@Assets["css/components.css"]" />
    <link rel="stylesheet" href="@Assets["css/wahub-sidebar.css"]" />
    <link rel="stylesheet" href="@Assets["WaHub.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <title>WaHub - Plataforma de Gestión de WhatsApp</title>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["js/app.js"]"></script>
</body>

</html>
